/* body{
    background-color: black;
} */
p{color:purple;
    border: 2px solid wheat;
padding: 30px;
margin: 30px;}
#first{color: crimson; background-color: black;}
#second{color:red; background-color:black;}
button{color: blue;background-color: aliceblue;}
h1{
    color: aqua;
    background-color:black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 23; */
    text-align: center;
    font-size: 25px;
    font-style: inherit;
}
#third{color: white;}
#fourth{color: lch(67.21% 68.46 86.23);}

#box1{
    color: red;
    background-color:white;
     height: 200px;
  width: 200px;
    background-image: url("https://plus.unsplash.com/premium_photo-1675824592772-4d0f0daa067e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGF0ZXN0fGVufDB8fDB8fHww");
}
#box2{
  color: red;
  background-color:white;
  background-image: url("https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp");
    height: 200px;
  width: 200px;
}